@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Raleway:wght@800&display=swap');

/*----------------genealogy-scroll----------*/

.solution_block {
    display: flex;
}

.ts_heading {
    text-align: center;
    color: #000135;
    font-family: DM Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.banner_card {
    background: linear-gradient(247.76deg, rgba(82, 229, 252, 0.5) -2.18%, rgba(2, 28, 120, 0.5) -2.17%, rgba(1, 91, 91, 0.5) 100.01%), linear-gradient(0deg, rgba(33, 41, 55, 0.5), rgba(33, 41, 55, 0.5)),
        url(https://static1.tothenew.com/sites/default/files/2020-08/Devops-as-a-service.png);
    background-size: cover;
    background-position: right bottom 24%;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.curriculum_block {
    padding: 0px;
    border: 1px solid #e9eaeb;
    border-radius: 2em;
    border-bottom: 0px !important;

}

.coursecurriculum_card-header {
    background-color: #212937;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    display: flex;
}


.static_bar {
    border: 1px solid #02c77b;
    border-radius: 1.5em;
    padding: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 5.5em;
}

.download-icon {
    width: 19px;
    height: 24px;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}


.coursecurriculum-info {
    grid-column-gap: 0.75em;
    align-items: center;
    display: flex;
}

.download-curriculum {
    grid-column-gap: 0.5em;
    align-items: center;
    display: flex;
}

.curriculum_block.accordion-item:first-of-type .accordion-button {
    border: 0px;
}

.curriculum_block.accordion-item {
    border-radius: 0px;
}

.banner_content {
    border-radius: 2em;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    display: flex;
}

.prg_block {
    background-color: rgb(3 10 201);
    border: 1px solid #02c77b;
    border-radius: 1.5em;
    font-family: Raleway, sans-serif;
    padding: 40px 30px;
    width: 280px;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, .2);
    color: #fff !important;
}

.solution_block_inner {
    flex-direction: column;
    flex: 1;
    padding: 1.5em;
    display: flex;
    margin: 10px;
}

.org_clr {
    color: #f37a0c;
    font-size: 18px;
}

.about_me_img img {
    border-radius: 25px;
    width: 100%;
}

.purple_clr {
    color: #f30cb8;
    font-size: 18px;
}

.about_me_section p {
    padding-left: 20px;
    line-height: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;

    text-align: left;
}

.blue_clr {
    color: #0c20f3;
    font-size: 18px;
}

.brown_clr {
    color: #590613;
    font-size: 18px;
}

.green_clr {
    color: #114d36;
    font-size: 18px;
}

.banner_img img {
    width: 400px;
    text-align: center;
}

.bullet_point {
    display: flex;
    align-items: center;
}

.grid2 {
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.accordion-button:focus {
    box-shadow: none;
}

.solution_block_inner {
    background-color: rgba(2, 199, 123, .2);
    border: 1px solid #02c77b;
    border-radius: 1.5em;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, .2);
}

.h3_font {
    text-transform: capitalize;
    font-family: Raleway, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    margin-left: 20px;
}

.text-span {
    font-size: .4em;
    font-weight: 400;
    line-height: .5;
}

.heading_h3 {
    font-family: Raleway, sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.media_icons img {
    width: 20% !important;
}

.media_icons img.reduce {
    width: 18% !important;
}

.points_css {
    background-color: #02c77b;
    border-radius: 25px;
    height: 38px;
    width: 46px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
}

.genealogy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.inner_course_block.height_reduce {
    height: 367px;
}

.genealogy-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}

.genealogy-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}

.genealogy-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------genealogy-tree----------*/
.genealogy-body {
    white-space: nowrap;
    overflow-y: hidden;

    min-height: 500px;
    padding-top: 10px;
    text-align: center;
}

.genealogy-tree {
    display: inline-block;
}

.genealogy-tree ul {
    padding-top: 40px;
    position: relative;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.genealogy-tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 30px 0 30px;
}

.genealogy-tree li::before,
.genealogy-tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 4px dashed #02c77b;
    width: 50%;
    height: 44px;
}

.genealogy-tree li::after {
    right: auto;
    left: 50%;
    border-left: 4px dashed #02c77b;
}

.genealogy-tree li:only-child::after,
.genealogy-tree li:only-child::before {
    display: none;
}

.genealogy-tree li:only-child {
    padding-top: 0;
}

.genealogy-tree li:first-child::before,
.genealogy-tree li:last-child::after {
    border: 0 none;
}

.genealogy-tree li:last-child::before {
    border-right: 4px dashed #02c77b;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.genealogy-tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.genealogy-tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 4px dashed #02c77b;
    width: 0;
    height: 41px;
}

.genealogy-tree li a {
    text-decoration: none;
    color: #666;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}



.dsg-nav_wrapper {
    align-items: center;
    display: flex;
}

.navbar .col-md-4 {
    padding: 0px;
}

.navbar .col-md-12 {
    padding: 0px;
}

.padding_rt a {
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-family: 'DM Sans', sans-serif;
    color: #212937;
    font-size: 15px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-collapse {
    align-items: start;
    justify-content: start;
}

.login_btn {
    color: #fff !important;
    text-align: center;
    background-color: #02c77b;
    border-radius: 12rem;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: .9rem;
    font-weight: 700;
    transition: all .6s cubic-bezier(.23, 1, .32, 1);
    box-shadow: 0 0 0 0 #92b22f;
}

.btn-nav-link {
    color: #02c77b !important;
    background-color: #e7fef8;
    border-radius: 0.25em;
    padding: 0.5em 1.25em;
    font-family: DM Sans, sans-serif;
    font-size: 1rem;

    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #222;
}

.btn--prm-sm:hover {
    background-color: #02c77b;
    box-shadow: 0 0 0 0.4rem rgba(2, 199, 123, .5);
}

.is-pad-tb-80 {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
    display: block;
}

.hero-caption {
    background-color: #b9f3df;
    border-radius: 0.5em;
    padding: 0.25em 0.75em;
}

.rns-w-fc {
    width: fit-content;
}

.navbar-toggler {
    float: right;
    margin-top: 20px;
}

.rns-h1 {
    font-family: Raleway, sans-serif;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 800;
    text-align: left;
    line-height: 1.2;
    color: #212937;
}

.padding-top {
    padding-top: 20px;
}

.rns-txt-gradient {
    background: linear-gradient(90deg, #52E5FC 17.14%, #02C77B 63.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero03.is-bg-green-50 {
    background-image: url('main_banner_img.jpg');
    background-position: 0 0;
    background-size: cover;
    display: block;
}

p {
    font-family: DM Sans, sans-serif;
    margin-bottom: 10px !important;
}

.fa-check-square {
    color: #007bff;
}

.is-txt-medium {
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
}

.hero_cta-wrap {
    grid-column-gap: 1.5em;
    display: flex;
}

.inner_course_block img {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn--sec-med {
    color: #e7e7e7;
    text-align: center;
    background-color: #181818;
    border-radius: 12em;
    justify-content: center;
    align-items: center;
    padding: 1.35rem 2.55rem;
    font-size: 1rem;
    margin-top: 16px;
    display: inline-block;
    font-weight: 700;
    transition: all .3s linear;
    box-shadow: 0 0 0 0.2rem #02c77b;
}

.btn--sec-med.bottom_btn {
    padding: 16px 1.4rem;
}

.btn--sec-med:hover {
    background-color: #111;
    box-shadow: 0 0 0 0.4rem rgba(2, 199, 123, .5);
}

a:active,
a:hover {
    outline: 0;
    color: #fff;
}

a {
    text-decoration: none !important;
}

.bold_green {
    font-weight: 600;
    color: #02c77b;
}

.rns_bg_white {
    background-color: #fff;
}

.align_cen {
    text-align: center;
}

.rns_h2 {
    font-family: Raleway, sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.is-pad-t-64 {
    padding-top: 5em;
}

.grid--4-4-4 {
    width: 100%;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.course_card {
    background-color: rgba(2, 199, 123, .2);
    border: 1px solid #02c77b;
    border-radius: 1.5em;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, .2);
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.internship_heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.course_img {
    width: 107%;
    border-radius: 7px;
    margin-left: -12px;
}

.course_block {
    text-align: center;
    margin: 30px 0px;
    background-color: rgba(2, 199, 123, .2);
    border: 1px solid #02c77b;
    border-radius: 1.5em;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, .2);
}

.internship_heading h4 {
    padding: 20px 20px;
    padding-top: 40px !important;
    font-family: 'Montserrat', sans-serif;
}




.about_heading {
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: Raleway, sans-serif;
}

.apply_now_btn {
    background-image: linear-gradient(to right, #28e98c, #173140, #1d5e55, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    /* opacity: 0; */
    color: #fff;
    padding: 10px 20px;
    /* visibility: hidden; */
}

.course_block:hover .apply_now_btn {
    background-image: linear-gradient(to right, #28e98c, #173140, #1d5e55, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    color: #fff;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    visibility: visible;
}

.course_block h6 {
    padding: 10px 30px;
}

.reduce_font {
    padding: 10px 30px;
}

.course_block img {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.reduce_font {
    font-size: 14px;
    text-align: left;
}

.text-align-left {
    text-align: left;
}

.inner_course_block {
    background-color: rgb(143 185 235 / 32%);
    border: 1px solid #ff800761;
    border-radius: 1.5em;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    height: 476px;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, .2);
}

.coures_main_block .inner_course_block_heading {
    padding: 1em;
    text-align: center;
}

.coures_main_block .course_content {
    padding: 1.5em;
    text-transform: capitalize;
    font-family: Raleway, sans-serif;

}

.coures_main_block a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Raleway, sans-serif;
    color: #000;
}

.padding-top_10 {
    padding-top: 20px;
}

.learn_block {
    margin-bottom: 30px;
    border-radius: 20px;
}

/* .learn_block_text {
            padding: 20px 30px !important;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            color: #fff;
            background-color: #020a25;
        } */

.about_block_2_text {
    padding: 40px 40px !important;

    color: #fff;
    background-color: #020a25;
}

.learn_block_text {
    padding: 2em;
    font-family: Raleway, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    background-color: #212937;
    border-left: 6px solid #b2b2c2;
    display: flex;
    align-items: center;


}

.learn_block_text h4 {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
}

.about_block_2 h4 {
    padding: 2em;
    font-family: Raleway, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 20px;
}

.about_block_2_text p {
    font-size: 17px !important;
    text-align: justify;
}

.accordion-body {
    font-family: DM Sans, sans-serif;
}

.about_block_2_text a {
    margin-left: 65px;

}

.gr_2 {
    background: linear-gradient(90deg, #52E5FC 17.14%, #02C77B 63.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.learn_block_img img {
    width: 83%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.about_block_2_img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.about_block_img img {
    width: 100%;
    height: 100%;
}

.about_block {
    background-image: linear-gradient(#150b48, #0756db);
}

.padding_only {
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.btn--ter-sm {
    color: #02c77b;
    text-align: center;
    background-color: #e7fef8;
    border: 2px solid #02c77b;
    border-radius: 12rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all .6s cubic-bezier(.23, 1, .32, 1);
    box-shadow: 0 0 0 0 #92b22f;
}

.btn--ter-sm:hover {
    box-shadow: none;
    color: #fff;
    background-color: #02c77b;
}

.about_block_text {
    color: #fff !important;
}

.about_block_2_text h4 {
    padding: 0px;
}

.footer {
    background-color: #212937;
}

.footer {
    color: #fff !important;
    font-family: Raleway, sans-serif;
}

.footer a {
    color: #02c77b !important;
}

.bottom_block p {
    font-size: 14px
}

.banner_content p {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.is-h2 {
    font-family: Raleway, sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;

    line-height: 1.2;
}

.is-h2.white_clr {
    color: #fff;
}

.is-h6 {
    font-family: Raleway, sans-serif;
    font-size: 0.55em;
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3;
}

.top_block p {
    font-size: 15px;
}

.footer_logo img {
    width: 10%;
    margin-bottom: 40px;
}

.social_media_icons {
    display: flex;
    float: right;
}

.accordion-item {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;

}

.accordion-button {
    border: 1px solid gray !important;
    border-radius: 10px;

}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.footer_icon_block {

    color: #fff;
    display: inline;
    text-align: center;
    margin: 5px !important;
    padding: 4px 11px;
    border-radius: 7px
}

.footer_icon_block .fa {
    padding: 2px 0;
    color: #fff !important;
    font-size: 23px
}

.footer_icon_block.row.col-md-2 {
    display: contents
}

.card {
    margin: 0 auto;
    border: none;
}

.card .carousel-item {
    min-height: 350px;
}

.card .carousel-caption {
    padding: 0;
    right: 15px;
    left: 15px;
    top: 15px;
    color: #3d3d3d;
    border: 1px solid #ccc;
    min-height: 250px;
    padding: 15px;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.card .carousel-control-prev,
.card .carousel-control-next {
    color: #3d3d3d !important;
    opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: #fff;
    font-size: 14px;
    background-color: #150b48;

    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 25px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    opacity: 0.85;
}

.carousel-control-prev {
    left: 13%;
    top: 78%;
    z-index: 999;
}

.carousel-control-next {
    right: 13%;
    top: 78%;
    z-index: 999;
}

.midline {
    width: 60px;
    border-top: 1px solid #d43025;
}

.carousel-caption h2 {
    font-size: 14px;
}

.carousel-caption h2 span {
    color: #cd3a54;
}


.rns_logo {
    width: 15%;
}

.accd_style {
    margin-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
}

.mini_blocks {
    text-align: center;
    background-color: #020a25 !important;
    padding: 40px 20px 40px 20px;
    margin: 20px 15px 15px 15px;
    border-radius: 25px 25px 25px 25px;

}

.mini_blocks p {
    color: #fff;
    font-family: Raleway, sans-serif;
}

.align_rows {
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 40px;
    font-weight: 600;
    margin: auto;
}

.footer_content {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #0f131c;
}

.footer_content p {
    margin-bottom: 0px !important;
    text-align: left;
}

.content_number {
    font-size: 20px !important;
}

.copy_write {
    text-align: center;
}

.footer_bg_logo {
    width: 13.56em;
    height: 100%;
    opacity: .1;
    object-fit: contain;
    display: block;
    position: absolute;
    top: -3em;
    bottom: auto;
    left: auto;
    right: -4vw;
}

.footer_alignment {

    padding-top: 40px;
    padding-bottom: 20px;
}

.small,
small {
    font-family: DM Sans, sans-serif;
}

.card {
    background-color: transparent;
}

.card .carousel-caption {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #150b482e;
}

.is-h2 {
    font-family: Raleway, sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.testimonial-icon {
    width: 2em;
}

.carousel-caption {
    text-align: left;
}

.carousel-caption p {
    font-size: 1rem;
    line-height: 1.5;
}

.courses_heading p {
    font-size: 16px;
    color: #051a2d !important;
}

.course_img {
    background-color: rgb(143 185 235 / 32%);
}


.courses_conatiner_block .col-md-4 {
    flex: 0 0 auto;
    width: 31.333333% !important;
    margin-left: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .23), 0 3px 6px 0 rgba(0, 0, 0, .16);
    padding-bottom: 20px;
    border: 1px solid #02c77b;
    border-radius: 10px;
}


.rating {
    text-align: left;
}

.course_content img {
    background-color: transparent;
    padding-right: 5px;
}

.course_img img {
    text-align: center !important;
}

.courses_heading p {
    font-size: 16px;
    text-align: center !important;
    color: #051a2d !important;
}

.a_tag {
    color: #fff !important;
    text-decoration: none !important;
}

.button_learn_more {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    fill: #FFF;
    color: #FFF;
    background-color: transparent;
    background-image: linear-gradient(130deg, #1F4262 21%, #0A467D 100%);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 7px 20px -1px rgba(0, 0, 0, .31);
    padding: 17px 0 17px 0;
    margin-bottom: 20px;
    text-align: center;
}

.course_img img {
    width: 40%;
    padding: 0px !important;
    margin-bottom: 20px;
}

.course_heading h6 {
    color: #051A2D;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
}

.course_img p {
    padding: 10px 0;
    text-align: center;
    padding-bottom: 0;
    color: #212937ff !important;
    font-family: "Poppins", Sans-serif !important;
    margin: 0 15px;
}

.about_us_section {
    background-color: #020a25;
    border-radius: 20px;
}

.course_rating {
    padding: 10px 0 10px 0;
}

.course_img img {
    width: 40%;
    padding: 0px !important;
    margin-bottom: 20px;
}

.courses_block {
    font-family: "Poppins", Sans-serif;
    background-color: #fff;
    text-align: center;
    color: #051A2D;
}

.course_heading h6 {
    color: #051A2D;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
}

.padding-top_40 {
    padding-top: 40px;
}


.testimonial-title {
    color: #fff;
}

.testimonial-title h2 {
    padding-left: 0.2em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;

}

.card-body {
    background-color: #fff;
    border-radius: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #02c77b;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    top: 381%;
    opacity: 1;
    transform: translateY(-50%);
}



.align-items-center {
    align-items: center !important;
    justify-content: center;
}

.padding_classes {
    padding-left: 6em;
    padding-right: 6em;
}

.container-col-12 {
    width: 100%;
    max-width: 1416px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 6em;
    display: block;
}

.main_footer {
    background-color: #212937;
}

.main_footer_1 {
    background-color: #0f131c;
}

.footer_content p {
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.dsg-navbar {
    z-index: 999;
    width: 100%;
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.gr_3 {
    background: linear-gradient(90deg, #020a25 17.14%, #1313f7 63.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.course_content p {
    font-family: DM Sans, sans-serif;
    margin-bottom: 10px !important;
    font-size: 16px;
    text-align: left;
}

@media (max-width: 1200px) {
    .genealogy-tree li {
        padding: 20px 0px 0 0px !important;
    }

    .courses_conatiner_block .col-md-4 {
        margin-left: 10px;
    }
}

@media (max-width: 1000px) {
    .carousel-caption {
        position: relative;
    }

    .rns_logo {
        width: 25%;
    }

    .genealogy-tree li {
        float: none;
    }

    .card .carousel-caption {
        left: 0;
        top: 0;
        margin-bottom: 15px;
    }

    .card .carousel-caption img {
        margin: 0 auto;
    }

    .card .carousel-caption h3,
    .card .carousel-caption small {
        text-align: center;
    }

    .carousel-control-prev {
        left: 35%;
        top: 105%;
    }

    .carousel-control-next {
        right: 35%;
        top: 105%;
    }

    .btn-nav-link {
        margin-left: 0px;
        margin-top: 10px;
    }

    .login_btn {
        border-radius: 0px;
        margin-top: 10px;
    }

    .rns_logo {
        margin-left: 20px;
    }

    .hero_cta-wrap {
        display: block;
    }

    .mobile_gap {
        margin-top: 60px;
    }

    .courses_conatiner_block .col-md-4 {
        width: 90% !important;
        margin-top: 20px;
        display: block;
        text-align: center;

    }

    .coures_main_block {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .learn_block_text {
        border-radius: 0px !important;
        border-left: 0px;
    }

    .learn_block_img img {
        border-radius: 0px !important;
    }

    .accd_style {
        padding-left: 50px;
        padding-right: 50px;

    }

    .footer_content {
        padding-left: 1em;
        padding-right: 1em;
    }

    .copy_write {
        text-align: left;
    }

    .footer_bg_logo {
        right: 0
    }

    .footer_alignment {
        padding-left: 1em;
        padding-right: 1em;

    }

    .footer_logo img {
        width: 20%;

    }

    .genealogy-tree ul {
        display: block;
    }

    .genealogy-tree li::after {
        display: none;
    }

    .genealogy-tree ul ul::before {
        height: 100px;
    }


    .genealogy-tree li::before {

        border-top: 0px;
    }

    .about_block_2_img img {
        display: block;
        width: 60%
    }

    .padding_only {
        padding-left: 1em;
        padding-right: 1em;

    }

    .learn_block_text h4 {
        padding: 1em;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
        position: absolute;
        left: 1em;
        top: 127%;
        transform: translateY(-50%);
    }

    .carousel-control-next {
        left: 5em;
    }

    .btn-nav-link {
        margin-bottom: 20px;
    }

    .container-col-12 {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .padding_rt a {

        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .card .carousel-caption h3 {
        margin-top: 0;
        font-size: 16px;
        font-weight: 700;
    }

    .solution_block {
        display: block;
    }

    .btn-nav-link {
        margin-left: 0px;
        margin-top: 10px;
    }

    .login_btn {
        border-radius: 0px;
        margin-top: 10px;
    }

    .rns_logo {
        margin-left: 20px;
    }

    .genealogy-tree li {
        padding: 20px 0px 0 0px !important;
    }

    .rns_logo {
        width: 15%;
    }

    .ts_heading {
        padding-bottom: 30px;
    }
}



@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        border-radius: 20px;
        border: 4px solid #70bba7;

    }

    .carousel-inner {
        display: flex;
        display: flex;
        align-items: center;
        JUSTIFY-CONTENT: center;
    }

    .ts_heading {
        padding-bottom: 30px;
    }
}
